<!-- -*- mode: xml -*- -->
<!-- (above line gets Emacs to recognize this as an XML file) -->

<launch>

  <!-- 
     Data file to load for blob finding.  This file holds the
     colors being tracked.  You can use the colorpicker program
     to generate one.
    -->
  <param name="/blobfinder/datafile" type="string" 
	 value="$(find blobfinder)/data/kinect.data" />

  <!-- 
     Set this to true to use a PointCloud2 message as input instead of
     an Image message (i.e., to use the 3D data from the Kinect).
    -->
  <param name="/blobfinder/use_points" type="bool" value="true" />

  <!-- 
     Set this to the name of the PointCloud2 message being used
     (use_points must be set to true).
    -->
  <remap from="points" to="/camera/depth_registered/points" />

  <!-- 
     Note you can use all of the other parameters documented
     in blobfinder.launch  
    -->

  <!-- Launch the blobfinder node. -->
  <node name="blobfinder_node" pkg="blobfinder" type="blobfinder_node" />

</launch>
